
          <br>
          <% if @animes.present? || !user_signed_in? || @anime.present? %>
            <%= form_tag(animes_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
            <%= submit_tag "Search" %>
            <% end %>

            <div class="w3-center w3-half">
            <a href="#" id="show2"><h3>Click here for Anime Video</h3></a>
            <br>
            <iframe id='hidden2' width="400" height="500" src="https://www.youtube.com/embed/zWmmgwZ1ECU" frameborder="0"  allowfullscreen></iframe>
            </div>
          <%= yield %>
          <% else %>
          <%= yield %>
            <p>There are no posts containing the term(s) <%= params[:search] %>.</p>

          <% end %>
<p id="notice"><%= notice %></p>

<div class="w3-row w3-half">


<a href="#" id="show" data-transition="slide"><h1>Anime List</h1></a>

<table class='clearfix' id='hidden'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Episodes</th>
      <th></th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @animes.each do |anime| %>
      <tr>
        <td><%= anime.title %></td>
        <td><%= anime.episodes %></td>
        <td><%= image_tag anime.photo_url %></td>
        <td>
          <%= link_to 'Forum', anime %><br>
          <%= link_to 'Edit', edit_anime_path(anime) %><br>
    <%= link_to 'Delete', anime, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<footer>
  <h5>Created by Anusone Nanthavongsa</h5>
</footer>
