<p id="notice"><%= notice %></p>
<%= link_to 'Edit Anime', edit_anime_path(@anime) %>
|
<%= link_to 'Back to Home', animes_path(@anime) %>
<br>
<h1 style="font-family:blacksword;justify-content:center;">
    <%= @anime.title %>
  </h1>
<br>
<div style='float:left; width:35%;'>




    <p>
        <strong>Episodes:</strong>
        <%= @anime.episodes %>
        <br>
        <p id='picture'><%= image_tag @anime.photo_url %></p>
</p>



</div>
<br>



<div style='float:right; width:50%; border-style:solid;' class='comments'>
  <!-- begin wwww.htmlcommentbox.com -->
   <div id="HCB_comment_box" style="background-image:url('http://img08.deviantart.net/ceee/i/2013/338/f/7/star_custom_box_background_by_astro_xxx_boy-d6wr83j.jpg');background-size:cover;background-repeat:no-repeat;"><a href="http://www.htmlcommentbox.com">Comment Box</a> is loading comments...</div>
   <link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
   <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="//www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24r2nbL2D7iLfT.1UgnjIgq0"+"&opts=16790&num=10&ts=1483842435523");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
  <!-- end www.htmlcommentbox.com -->
 </div>


    <!-- <h3>Comments</h3>
    <table id='table'>

        <% @anime.comments.each do |comment| %>
        <div>
            <%= comment.user.email %>
            <time>
                Updated
                <%= comment.updated_at %></time><br>
        <div id='commentTable' <%= comment.body %></div>
    </table>


    <%= link_to "Edit Comment", edit_anime_comment_path(@anime, comment) %>
    |
    <%= link_to "Delete Comment", anime_comment_path(@anime, comment), method: :delete %>
</div>
<% end %>
</div>
  <%= link_to "Add new comment", new_anime_comment_path(@anime) %> |
-->
